@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Source+Sans+Pro');

body{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

hr {
    height: 1px; 
    color: #000; 
    background: #000;
}

h2 {
    font-size: 1.5em;
    color: #474545; 
    font-family: 'Source Sans Pro', sans-serif;
}
h4 {
    font-size: 1.35em;
}
.loader{
    text-align: center;
}
.nav{
    min-height: 250px;
    background: 
     /* top portion */
     linear-gradient(180deg, #FFEF03, #fff);
    /* margin: -30px -20px 0 -20px; */
    overflow: hidden;
    /* z-index: 9999; */
}
.nav main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
.nav header{
    padding-top: 40px;
    text-align: right;  
}
.nav footer{
    top: 0;
    left: 0;
    height:80px;
    background: #FFEF03;
    width: 100%;
    -moz-transform: translate(5px, -30px) skew(43deg, -5deg);
    -webkit-transform: translate(5px, -30px) skew(43deg, -5deg);
    -o-transform: translate(5px, -30px) skew(43deg, -5deg);
    -ms-transform: translate(5px, -30px) skew(43deg, -5deg);
    transform: translate(5px, -30px) skew(43deg, -5deg);
    margin-left: 20px;
    margin-right: -20px;
    
}
.nav .tabs{
    z-index: 1;
}
.nav .tabs-small{
    display: none;
}

.nav .tabs ul{
    display: flex;  
    flex-flow: row wrap;
    justify-content: flex-end;
    margin:30px 30px 0 0;
    list-style-type: none;
}

.nav .logo {
    background-image: url('../assets/logo.png') ;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav .tabs ul li{
    display: flex;
    align-items: flex-end;
    min-height: 50px;
    min-width: 60px;
    margin: 0 10px;

}
.nav .tabs a{  
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    background-image: linear-gradient(#000000, #000000);
    background-repeat: no-repeat;
    transition: background-size .5s, color .5s;
    background-size: 100% 0%;
    background-position: 0% 0%;
}

.nav .tabs a:hover, .nav .tabs a:active{
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
    background-size: 100% 100%;
}

.nav .tabs a:focus{
    outline: none;
    font-weight: 600;
    border-bottom: 2px solid #000;
    border-spacing:10px;
}

.nav:after{
    content: '';

}

.home{
    text-align: center;
    margin: 0 15%;
}

.home .warn{
    color: #FF0000;
}
.home .okLevel {
    color: #000000!important;
}
.home main {
  margin-top: 75px;    
}
.home main .loader-msg{
    height: 30px;
    color: #787878;
}
.home main table>tbody>tr:hover, .home main table>tbody>tr:active{
    cursor: pointer;
}

.home .modal .modal-content .modal-body {
    display: flex;
    flex-flow: column wrap;
}

.home .modal .modal-content .modal-body section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* .home .modal .modal-content .modal-footer .modal-btn{
    background:#FFEF03;
    color:#000;
     border:none;
} */
.home .modal .modal-content .modal-footer .btn-default:focus{
  outline: none;
}
.admin{
    text-align: start;
    margin: 40px 15%;
}

.admin .row{
    margin: 20px;
}

.admin header h4{
    margin: 5px;
}
.admin main {
    text-align: start;
}
.admin .msg-container{
    min-height: 50px;
}
.admin .msg-container .msg{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #787878;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.admin .msg-container .msg .cancel{
    color: #000000;
}
.admin .msg .cancel:hover, .admin .msg .cancel:active{
    color: #FF0000;
    cursor: pointer;
}
.page404{
    text-align: center;
}
.btn-currex{
    background: #FFEF03;
    padding: 8px;
    border-radius: 5px;
    border: none;
    float: right;
    min-width: 50px;
}
.btn-currex-secondary{
    background: #fff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    float: right;
    min-width: 50px;
}
.btn-currex:hover, .btn-currex:active {
    outline: none;
    background: #eddc00;
}
.btn-currex-secondary:hover, .btn-currex-secondary:active {
    outline: none;
    background: #ddd;
}
button:focus{
    outline: none;
}
input:hover, input:active, input:focus{
    outline:0px !important;
    -webkit-appearance:none;
}
.form-control:focus{
    border-color: #787878;
    -webkit-box-shadow: none;
    box-shadow: none;
}
@keyframes loader {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  /** Main Loader **/
  .loader {
    position: relative;
  }
  .loader div,
  .loader div:after {
    width: 50px;
    height: 50px;
    border: 5px solid #ffef03;
    border-top-color: transparent;
    border-radius: 50%;
  }
  .loader div {
    -webkit-animation: loader 1s linear infinite;
    animation: loader 1s linear infinite;
    top: 100px;
    left: 100px;
  }
  .loader div:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .loader {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

.loader-exchange-rate{
    background: url('../assets/exchange-loader.gif') no-repeat;
    background-size: contain;
    background-position: center center;
    height: 20px;
    width: 20px;
    margin: 0 auto;
}
  /** Exchange Loader **/
  @keyframes loader-exchange {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes loader-exchange {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

@media only screen and (max-width: 622px) {
    .nav .tabs {
        display: none;
    }
    .nav .tabs-small{
        display: flex;
        justify-content: flex-end;
        color: #000000;
        margin-bottom: 30px; 
    }

    .nav .tabs-small .ham{
      margin: 30px;
    }

    .nav .tabs-small:hover, .nav .tabs-small:active{
        cursor: pointer;    
    }

    .nav .tabs-small .nav-small-menu{
        position: fixed;
        /* display: block; */
        background: #fff;
        border-left: 1px solid #ddd;
        box-shadow: 2px 2px #ddd;
        height: 100vh;
        width: 40vw;
        z-index: 9999!important;
    }

    .nav-small-menu-open {
        animation: openMenu 0.4s ease-out forwards;
    }
    .nav-small-menu-closed {
        animation: closeMenu 0.4s ease-out forwards;
    }

    @keyframes openMenu {
        0% { transform: translateX(100%); }
        100% { transform: translateX(0);   }
    }
    
    @keyframes closeMenu {
        0% { transform: translateX(0); }
        100% { transform: translateX(100%);}
    }
    .nav .tabs-small .nav-small-menu .close-menu{
        display: flex;
        justify-content: flex-end;
        margin: 10px 10px;
        color: #787878;
    }
    .nav .tabs-small .nav-small-menu .logo{
        display: block;
        background: url('../assets/logo.png') no-repeat!important;
        background-size: contain !important;
        background-position: center center !important;
        min-width: 100px;
        min-height: 100px;
        margin: 10px auto;
        padding: 20px;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    .nav .tabs-small .nav-small-menu .menu div{
        border-bottom: 1px solid #ddd;
        padding: 20px;
        text-align: center;
    }
    .nav .tabs-small .nav-small-menu .menu div a{
        text-decoration: none;
        color: #ddd;
        font-weight: 600;
        font-size: 1.25em;
    }
    .nav .tabs-small .nav-small-menu div a:hover, 
    .nav .tabs-small .nav-small-menu div a:active,
    .nav .tabs-small .nav-small-menu div a:focus {
        color: #787878;
        outline: none;
    }
    .nav footer{
        height: 50px;
       margin-top: -20px;
    }
    .home {
        margin: 0 5%;
    }
}


@media only screen and (max-width: 320px) {
    .table {
        width: 80%;
    }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav footer{
        margin-top:-20px;   
        }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav footer{
        margin-top:-70px;   
        }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home {
        margin: 0 10%;
    }
    .nav footer{
        margin-top:-70px;   
        }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home {
        margin: 0 10%;
    }
    .nav footer{
        margin-top:-50px;   
        }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .home {
        margin: 0 10%;
    }
    .nav footer{
    margin-top:-20px;   
    }
}